@media (min-width: 768px) {
    .header__container-full {
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}