.article__image-container_small {
    width: 100%;
    height: 70vw;
    margin-bottom: var(--margin_small);
    margin-top: var(--margin_small);
}

@media (min-width: 768px) {
    .article__image-container_small {
        max-width: 50%;
        max-height: 300px;
        float: right;
        margin-top: 0;
        margin-left: var(--margin_small);
    }
}